# Miniconda installer
Miniconda3-latest-MacOSX-*.sh

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
venv/
vehicle/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Generated artifacts
artifact/
logs/
.env
*.pyc

# Environment
.env

# Models
*.pkl