body{
background:#f4f7fb;
}

.card{
border-radius:20px;
}

.btn{
border-radius:12px;
}

.form-control,
.form-select{
border-radius:10px;
}

.alert{
border-radius:15px;
}

.badge{
margin:4px;
font-size:0.9rem;
}
